body {
    font-family: Arial, sans-serif;
    text-align: center;
    margin: 0;
    padding: 0;
    background-color: #f2f2f2;
  }

  img.senai-logo {
    max-width: 60%; /* Define a largura máxima da imagem */
  }
 
  header {
    background-color: #010247;
    color: #fff;
    padding: 15px 0;
  }

h1 {
  color: #005caa; /* Cor azul atualizada */
}

h2 {
  color: #333;
}

h3 {
  color: #005caa; /* Cor azul atualizada */
}

p {
  font-size: 18px;
  margin-bottom: 20px;
  line-height: 1.6;
}

.btn-play {
    width: 220px;
    height: 50px;
    border: none;
    outline: none;
    color: #fff;
    background: #111;
    cursor: pointer;
    position: relative;
    z-index: 0;
    border-radius: 10px;
}

.btn-play:before {
    content: '';
    background: linear-gradient(45deg, #ff0000, #ff7300, #fffb00, #48ff00, #00ffd5, #002bff, #7a00ff, #ff00c8, #ff0000);
    position: absolute;
    top: -2px;
    left:-2px;
    background-size: 400%;
    z-index: -1;
    filter: blur(5px);
    width: calc(100% + 4px);
    height: calc(100% + 4px);
    animation: glowing 20s linear infinite;
    opacity: 0;
    transition: opacity .3s ease-in-out;
    border-radius: 10px;
}

.btn-play:active {
    color: #000
}

.btn-play:active:after {
    background: transparent;
}

.btn-play:hover:before {
    opacity: 1;
}

.btn-play:after {
    z-index: -1;
    content: '';
    position: absolute;
    width: 100%;
    height: 100%;
    background: #111;
    left: 0;
    top: 0;
    border-radius: 10px;
}

@keyframes glowing {
    0% { background-position: 0 0; }
    50% { background-position: 400% 0; }
    100% { background-position: 0 0; }
}

footer {
  background-color: #010247;
  color: #fff;
  padding: 15px 0;
}